<div id="statistics-page" class="text-box">
  <table id="statistics-table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>
          <label for="statistics-file-dropdown">Periode:</label>
          <select id="statistics-file-dropdown" onclick="event.stopPropagation()"></select>
          <img id="refresh-statistics" src="/views/statistics/images/refresh.png">
        </th>
        <th>Totalt antall kall</th>
        <th>Kall siste periode</th>
      </tr>
    </thead>
  </table>
</div>
